<h1><%= @guest.name %></h1>
<% rating_sorted_appearances = @guest.appearances.sort_by {|appearance| appearance.rating}.reverse %>

<% rating_sorted_appearances.each do |appearance| %>
    <%= link_to(appearance.episode.date, appearance.episode) %> Rating: <%= appearance.rating %> <br>
    <% end %>